@model CreateInstantGameCommand
@{
    ViewData["Title"] = "Create Instant Game";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-controller="InstantGame" asp-action="Create" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.Partial("_EditInstantGamePartial")

    <div class="form-group">
        @* Creating sub-items like this at the same time as the parent is a PITA unfortunately - hacky JS ensues for now! *@
        <table class="table table-striped" id="jurisdictions">
            <thead>
                <tr>
                    <th>Jurisdiction</th>
                    <th>Allocation</th>
                    <th>Commission</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Regions.Count; i++)
                {
                    var ingredient = Model.Regions[i];
                    <tr>
                        <td>
                            <input asp-for="Regions[i].Name" />
                            <span asp-validation-for="Regions[i].Name" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Regions[i].Allocation" />
                            <span asp-validation-for="Regions[i].Allocation" class=" text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Regions[i].RetailCommissionAmount" />
                            <span asp-validation-for="Regions[i].RetailCommissionAmount" class=" text-danger"></span>
                        </td>
                        <td>
                            <a href="#" class="remove">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-success" id="addJurisdiction">Add Jurisdiction</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var jurisdictions = $('#jurisdictions tbody');
        $("#addJurisdiction").click(function () {
            var rowNo = jurisdictions.find('tr').length;
            var template =
                '<tr>' +
                '<td><input name="Regions[' + rowNo + '].Name" id="Regions' + rowNo + '_Name" /></td>' +
                '<td><input name="Regions[' + rowNo + '].Allocation" id="Regions' + rowNo + 'Allocation" /></td>' +
                '<td><input name="Regions[' + rowNo + '].RetailCommissionAmount" id="Regions' + rowNo + 'RetailCommissionAmount" /></td>' +
                '</tr>';
            jurisdictions.append(template);
        });
        jurisdictions.on('click', '.remove', function (e) {
            $(this).closest('tr').remove();
        });
    </script>
}